<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.shop.dessertFairy.order.dao.OrderDAO">
	<insert id="insertOrder" parameterType="list">
	
		<selectKey keyProperty="o_no" resultType="int" order="BEFORE">			<!-- order="BEFORE" 주문번호 똑같게 -->
			SELECT NVL(MAX(o_no), 0)+1 AS o_no FROM ORDERT
		</selectKey>
		
		<foreach collection="list" item="odto" index="index" open="INSERT ALL " close="SELECT * FROM DUAL" separator=" ">
			 INTO ORDERT(
            o_no
            ,o_price
            ,o_quantity
            ,o_regdate
            ,o_state
            ,o_amount
            ,m_id
            ,d_no
         )
         VALUES(
             #{o_no}
            ,#{odto.o_price}
            ,#{odto.o_quantity}
            ,SYSDATE
            ,1
            ,#{odto.o_price}*#{odto.o_quantity}
            ,#{odto.m_id}
            ,#{odto.d_no}
         )

		</foreach>
	</insert>
	
	<select id="getOrderList" parameterType="odto" resultType="odto">			<!-- 주문 목록 페이지 -->
		SELECT *FROM
		(SELECT ROWNUM AS O_RR, A.* 
        FROM 
		 (SELECT O.O_NO,
				 O.O_PRICE,
				 O.O_QUANTITY,
				 TO_CHAR(O.O_REGDATE,'YYYY-MM-DD') AS O_REGDATE,
				 O.O_STATE,
				 O.O_AMOUNT,
				 O.M_ID,
				 O.D_NO,
				 D.D_NAME,
				 O.O_REVIEW,
				 O.O_TOTALPRICE
		 FROM ORDERT O
		 INNER JOIN DESSERT D
		 	ON O.D_NO = D.D_NO
		 WHERE M_ID = #{m_id}
		 ORDER BY O_NO DESC) A)
	</select>

	<select id="getAdminOrderList" parameterType="odto" resultType="odto">				<!-- admin 주문 목록 페이지 -->
		SELECT * FROM
	    (SELECT ROWNUM AS o_rr, A.*
	      FROM
		  (SELECT  O.O_NO,
		  		   O.D_NO, 
		  		   D.D_NAME, 
		  		   O.O_QUANTITY, 
		  		   O.O_AMOUNT,
			       M.M_ID, 
			       M.M_NAME, 
			       TO_CHAR(O.O_REGDATE,'YYYY-MM-DD') AS O_REGDATE, 
			       O.O_PRICE, 
			       M_ROLE,
			       D.D_STOCK, 
			       O.O_STATE,
			       O.O_TOTALPRICE
			FROM ORDERT O
			INNER JOIN DESSERT D
			  ON O.D_NO = D.D_NO
			INNER JOIN MEMBER M
			  ON O.M_ID = M.M_ID
		  <if test="m_role=='mem'"><!-- mem_id!=null -->
     		 WHERE O.M_ID= #{m_id} and #{m_role}='mem'<!--and이후에 삭제 -->
		  </if>
		ORDER BY O_NO DESC) A)
	</select>

	<select id="getTotalPrice" parameterType="odto" resultType="odto">
		SELECT o_no, SUM(o_amount) AS o_totalprice FROM ordert GROUP BY o_no
	</select>
	
	<update id="updateTotalPrice" parameterType="odto">
		<foreach collection="list" item="odto" 
	     index="index" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE ordert
			SET o_totalprice = #{odto.o_totalprice}
			WHERE o_no = #{odto.o_no}
		</foreach>
	</update>
	
	<update id="updateOrderState" parameterType="list">						<!-- admin 주문목록에서 상태 수정 -->
	  <!-- <foreach collection="list" item="item" 
	     index="index" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE ORDERT SET
	        O_STATE = #{item.o_state},
	        O_REGDATE = SYSDATE
			WHERE O_NO=#{item.o_no}
			AND D_NO = #{item.d_no}
			AND M_ID = #{item.m_id}
	 </foreach> -->
	 <foreach collection="list" item="item" 
	     index="index" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE ORDERT SET
	        O_STATE = #{item.o_state},
	        O_REGDATE = SYSDATE
			WHERE O_NO=#{item.o_no}
	 </foreach> 
   </update>
   
   <select id="OrderDetail" parameterType="odto" resultType="odto">			<!-- admin 주문 상세 페이지 -->
   SELECT  O.O_NO, O.D_NO,
	          D.D_NAME, D.D_IMAGE,
	          O.O_QUANTITY, 
	          O.M_ID, 
	          M.M_NAME,
	         O.O_REGDATE, O.O_PRICE, 
	          D.D_STOCK,
	         O.O_AMOUNT, 
	         O.O_STATE,
	         O.O_TOTALPRICE
         FROM ORDERT O
		INNER JOIN DESSERT D
		  ON O.D_NO = D.D_NO
		INNER JOIN MEMBER M
		  ON O.M_ID = M.M_ID
	       WHERE O_NO = #{o_no} 
   </select>
   
   <update id="updateOrder" parameterType="odto">		<!-- admin 주문 수정 페이지 -->
   		UPDATE ORDERT
   		SET O_STATE = #{o_state}
   		WHERE O_NO = #{o_no}
   		<!-- AND D_NO = #{d_no}
   		AND M_ID = #{m_id} -->
   </update>

   <update id="payAfterState" parameterType="odto">		<!-- 결제 후 상태 수정 -->
   		UPDATE ORDERT
   		SET O_STATE = 2
   		WHERE O_NO = #{o_no}
   </update>
   
   <select id="memOrderDetail" parameterType="odto" resultType="odto">			<!-- admin 고객관리-주문상세 -->
   		SELECT  O.O_NO, O.D_NO,
	         (SELECT D_NAME FROM DESSERT WHERE D_NO=#{d_no}) D_NAME,
	          O.O_QUANTITY, 
	          O.M_ID, 
	         (SELECT M_NAME FROM MEMBER WHERE M_ID = #{m_id}) M_NAME,
	         O_REGDATE, O.O_PRICE, 
	         (SELECT D_STOCK FROM DESSERT WHERE D_NO= #{d_no}) D_STOCK, 
	         O.O_STATE,
	         O.O_AMOUNT
		FROM ORDERT O 
	       WHERE M_ID = #{m_id}
	       AND O_NO =#{o_no} 
	       AND D_NO =#{d_no}
   </select>
   
   <update id="MUpdateOrder" parameterType="odto">			<!-- admin 고객관리-주문수정 -->
   		UPDATE ORDERT
   		SET O_STATE = #{o_state}
   		WHERE O_NO = #{o_no}
   		<!-- AND D_NO = #{d_no}
   		AND M_ID = #{m_id} -->
   </update>
   
   <delete id="cancelOrder" parameterType="odto">
   		DELETE FROM OREDERT
   		WHERE o_no = #{o_no}
   </delete>
   
	<select id="getRecentOno" resultType="int">
		SELECT o_no
		FROM (
         	SELECT o_no
            FROM ordert
            ORDER BY o_regdate DESC
       	)
 		WHERE ROWNUM = 1
	</select>
	
	<select id="getOrderDetail" parameterType="odto" resultType="odto">
		SELECT 
		o_no
		,o_price
		,o_quantity
		,o_regdate
		,o_state
		,o_amount
		,m_id 
		,d_no
		,o_totalprice
		FROM (
			SELECT 
			o_no
			,o_price
			,o_quantity
			,TO_CHAR(O_REGDATE,'YYYY-MM-DD') AS O_REGDATE
			,o_state
			,o_amount
			,m_id 
			,d_no
			,o_totalprice
			FROM ordert
			WHERE o_no = #{o_no}
		)
		WHERE ROWNUM = 1
	</select>
	
	<select id="getOrderDetailCnt" parameterType="odto" resultType="int">
		SELECT COUNT(d_no)
		FROM ordert
		WHERE o_no = #{o_no}
	</select>
	
	<select id="getAdminCakeOrderList" parameterType="odto" resultType="cdto">				<!-- admin cake 주문 목록 페이지 -->
		SELECT * FROM
	    (SELECT ROWNUM AS C_RR, A.*
	      FROM
		  (SELECT    C_NO
					,C_SHEET
					,C_INCREAM
					,C_OUTCREAM
					,C_SIZE
					,C_WRITE
					,C_IMAGE
					,C_REQUEST
					,C_PRICE
					,TO_CHAR(C_REGDATE,'YYYY-MM-DD') AS C_REGDATE
					,C_STATE
					,C_MONTH
					,M_ID
					,C_PATH
					,C_DAY
					,c_pickupdate
			FROM CAKE
		  <if test="m_role=='mem'"><!-- mem_id!=null -->
     		 WHERE M_ID= #{m_id} and #{m_role}='mem'<!--and이후에 삭제 -->
		  </if>
		ORDER BY C_NO DESC) A)
	</select>
	
	<select id="getCakeOrderList" parameterType="odto" resultType="cdto">				<!-- custom cake 주문 목록 페이지 -->
		SELECT * FROM
	    (SELECT ROWNUM AS C_RR, A.*
	      FROM
		  (SELECT    C_NO
					,C_SHEET
					,C_INCREAM
					,C_OUTCREAM
					,C_SIZE
					,C_WRITE
					,C_IMAGE
					,C_REQUEST
					,C_PRICE
					,TO_CHAR(C_REGDATE,'YYYY-MM-DD') AS C_REGDATE
					,C_STATE
					,C_MONTH
					,M_ID
					,C_PATH
					,C_DAY
					,c_pickupdate
			FROM CAKE
			ORDER BY C_NO DESC) A)
     		WHERE M_ID= #{m_id}
	</select>
	
	<!-- admin 주문취소 START -->
   <select id="cancelDessert" parameterType="odto" resultType="odto">		<!-- admin 주문 취소할 디저트의 D_NO와 O_quantity 받아옴 -->
   	SELECT D_NO, O_QUANTITY FROM ORDERT WHERE O_NO = #{o_no}
   </select>
   
 	<update id="dessertMgt" parameterType="odto">							<!-- 주문 취소할 디저트의 재고와 판매량 수정 -->
	   	UPDATE DESSERT SET D_STOCK = D_STOCK + #{o_quantity}, D_SALE = D_SALE - #{o_quantity}
	   	WHERE D_NO = #{d_no}
   </update> 
   
	<delete id="orderCancel" parameterType="odto">		<!-- 주문 취소 -->
      DELETE FROM ORDERT WHERE O_NO = #{o_no}
   </delete>
   <!-- admin 주문취소 END -->
   
   <update id="reivew" parameterType="odto">
   	UPDATE ORDERT SET O_REVIEW = +1
   	WHERE O_NO = #{o_no}
   </update>
   
   <select id="orderCheck" parameterType="mdto" resultType="int">	<!-- 회원 탈퇴 전 주문상태 체크 -->
   		SELECT O_STATE FROM ORDERT
   		WHERE M_ID = #{m_id} AND O_STATE <![CDATA[>]]> 1 AND O_STATE <![CDATA[<]]> 4
         SELECT O_STATE FROM ORDERT
         WHERE M_ID = #{m_id}
   </select>
   
</mapper>