<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.shop.dessertFairy.order.dao.OrderDAO">
	<insert id="insertOrder" parameterType="list">
	
		<selectKey keyProperty="o_no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(o_no), 0)+1 AS o_no FROM ORDERT
		</selectKey>
		
		<foreach collection="list" item="odto" index="index" open="INSERT ALL " close="SELECT * FROM DUAL" separator=" ">
			INTO ORDERT(
				o_no
				,o_price
				,o_quantity
				,o_regdate
				,o_state
				,o_amount
				,m_id
				,d_no
			)
			VALUES(
				 #{o_no}
				,#{odto.o_price}
				,#{odto.o_quantity}
				,SYSDATE
				,1
				,#{odto.o_price}*#{odto.o_quantity}
				,#{odto.m_id}
				,#{odto.d_no}
			)
		</foreach>
	</insert>
	
	<select id="getOrderCnt" parameterType="odto" resultType="int">
		SELECT COUNT(O_NO) FROM ORDERT
	</select>
	
	<select id="getOrderList" parameterType="odto" resultType="odto">
		SELECT *FROM
		(SELECT ROWNUM AS O_RR, A.* 
        FROM 
		 (SELECT O_NO,
				 O_PRICE,
				 O_QUANTITY,
				 O_REGDATE,
				 O_STATE,
				 O_AMOUNT,
				 M_ID,
				 D_NO
	 FROM ORDERT
	 ORDER BY O_NO ASC) A)
	 WHERE O_RR BETWEEN #{start} AND #{end}
	</select>

	<select id="getAdminOrderList" parameterType="odto" resultType="odto">
		SELECT * FROM
	    (SELECT ROWNUM AS RR, A.*
	      FROM
		  (SELECT  O.O_NO, O.D_NO, D.D_NAME, O.O_QUANTITY, O.O_AMOUNT,
			       M.M_ID, M.M_NAME, O_REGDATE, O.O_PRICE, M_ROLE,
			       D.D_STOCK, O.O_STATE
			FROM ORDERT O
			INNER JOIN DESSERT D
			  ON O.D_NO = D.D_NO
			INNER JOIN MEMBER M
			  ON O.M_ID = M.M_ID
		  <if test="m_role=='mem'"><!-- mem_id!=null -->
     		 WHERE O.M_ID= #{m_id} and #{m_role}='mem'<!--and이후에 삭제 -->
		  </if>
		ORDER BY O_NO DESC) A)
	   <![CDATA[
	    WHERE RR>=#{start} AND RR <=#{end} 
	   ]]> 
	</select>
	
	<update id="updateOrderState" parameterType="list" >
	  <foreach collection="list" item="item" 
	     index="index" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE ORDERT SET
	        STATE = #{item.state},
	        O_REGDATE = SYSDATE
			WHERE O_NO=#{item.o_no}
			AND D_NO = #{item.d_no}
			AND M_ID = #{item.m_id}
	 </foreach>
   </update>
   
</mapper>