<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.shop.dessertFairy.order.dao.OrderDAO">
	<insert id="insertOrder" parameterType="list">
	
		<selectKey keyProperty="o_no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(o_no),0)+1 AS o_no FROM ordert
		</selectKey>
		
		<foreach collection="list" item="odto" open="INSERT ALL " close="SELECT * FROM DUAL" separator=" ">
			INTO ordert(
				o_no
				,o_price
				,o_quantity
				,o_regdate
				,o_state
				,o_amount
				,m_id
				,d_no
			)
			VALUES(
				 #{o_no      }
				,#{o_price   }
				,#{o_quantity}
				,SYSDATE
				,"배송 준비"
				,#{o_amount  }
				,#{m_id      }
				,#{d_no      }
			)
		</foreach>
	</insert>

</mapper>