<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.shop.dessertFairy.dessert.dao.DessertDAO">

<select id="getDessertList" parameterType="map" resultType="ddto">
   SELECT 
       d_no
      ,d_category
      ,d_name
      ,d_detail
      ,d_price
      ,d_stock
      ,d_image
      ,d_path
      ,d_life
      ,d_storage
      ,d_allergy
   FROM dessert
   <if test='flag != null and !flag.equals("all")'>
      WHERE d_category = #{flag}
   </if>
   ORDER BY D_SALE DESC
</select>

<select id="getDessertCnt" resultType="int">
   SELECT COUNT(d_no)
   FROM dessert
</select>

<select id="getDessert" parameterType="ddto" resultType="ddto">
   SELECT 
      d_no
      ,d_category
      ,d_name
      ,d_detail
      ,d_price
      ,d_stock
      ,d_image
      ,d_path
      ,d_life
      ,d_storage
      ,d_allergy
   FROM dessert
   WHERE d_no = #{d_no}
</select>

<update id="updateStocks" parameterType="list">
	<foreach collection="list" item="odto" separator=";" open="DECLARE BEGIN" close="; END;">
		UPDATE dessert
		SET d_stock = d_stock - #{odto.o_quantity},
		d_sale = d_sale + #{odto.o_quantity}
		WHERE d_no = #{odto.d_no}
	</foreach>
</update>

<select id="maxSale" resultType="int">
	SELECT d_no
	FROM (
		SELECT d_no
		FROM dessert
		WHERE d_stock <![CDATA[>=]]> 1
		ORDER BY d_sale DESC
	)
	WHERE ROWNUM <![CDATA[<=]]> 3
</select>

	<!-- admin start -->
	<insert id="insertProduct" parameterType="ddto">	<!-- admin 상품 등록 -->
	    <selectKey keyProperty="d_no" order="BEFORE"
	        resultType="int">
	      SELECT NVL(MAX(D_NO),0)+1 FROM DESSERT
	    </selectKey>
	    INSERT INTO DESSERT(D_NO,
							D_CATEGORY,
							D_NAME,
							D_DETAIL,
							D_PRICE,
							D_STOCK,
							D_IMAGE,
							D_PATH,
							D_LIFE,
							D_STORAGE,
							D_ALLERGY,
							D_SALE)
	    VALUES(#{d_no}, #{d_category}, #{d_name}, #{d_detail},
	           #{d_price}, #{d_stock}, #{d_image}, #{d_path},
	           #{d_life}, #{d_storage}, #{d_allergy}, 0)
	  </insert>
	
	<select id="getProductCnt" resultType="int">		<!-- admin 상품 리스트 개수 -->
		 SELECT COUNT(D_NO) FROM DESSERT
	</select>
	  
	<select id="getProductList" parameterType="ddto">	<!-- admin 상품리스트 -->
		SELECT * FROM 
       (SELECT ROWNUM AS D_RR, A.* 
        FROM 
		 (SELECT D_NO
			    ,D_CATEGORY
			    ,D_NAME
			    ,D_DETAIL
			    ,D_PRICE
			    ,D_STOCK
			    ,D_IMAGE
			    ,D_PATH
			    ,D_LIFE
			    ,D_STORAGE
			    ,D_ALLERGY
	 FROM DESSERT
	 ORDER BY D_NO ASC) A)
	 WHERE D_RR BETWEEN #{start} AND #{end}
	</select>
	
	<select id="adminGetDessert" parameterType="int" resultType="ddto">	<!-- admin 상품no에 해당하는 상품 디테일 받아옴 -->
	   SELECT 
	      d_no
	      ,d_category
	      ,d_name
	      ,d_detail
	      ,d_price
	      ,d_stock
	      ,d_image
	      ,d_path
	      ,d_life
	      ,d_storage
	      ,d_allergy
	   FROM dessert
	   WHERE d_no = #{d_no}
	</select>
	
	<select id="getProduct" parameterType="ddto" resultType="ddto">	<!-- admin 상품 수정 전 정보 -->
	     SELECT 
	      D_NO
	      ,D_CATEGORY
	      ,D_NAME
	      ,D_DETAIL
	      ,D_PRICE
	      ,D_STOCK
	      ,D_IMAGE
	      ,D_PATH
	      ,D_LIFE
	      ,D_STORAGE
	      ,D_ALLERGY
	   FROM DESSERT
	   WHERE D_NO = #{d_no}
	</select>
	
	<update id="updateProduct" parameterType="ddto">	<!-- admin 상품 수정 -->
		     UPDATE DESSERT SET
		      D_NO	= #{d_no},
		      D_CATEGORY = #{d_category},
		      D_NAME = #{d_name},
		      D_DETAIL = #{d_detail},
		      D_PRICE = #{d_price},
		      D_STOCK = #{d_stock},
	      <if test = "d_image!=null">
		      D_IMAGE = #{d_image},
	      </if>
		      D_PATH = #{d_path},
		      D_LIFE = #{d_life},
		      D_STORAGE = #{d_storage},
		      D_ALLERGY = #{d_allergy}
		     WHERE D_NO = #{d_no}
	  </update>
	  
	  <select id="orderCntOfProduct" parameterType="int" resultType="int">	<!-- admin 주문내역 확인 -->
	  	SELECT COUNT(O_NO) FROM ORDERT
	  	WHERE D_NO = #{d_no}
	  </select>
	  
	  <delete id="deleteProduct" parameterType="ddto">	<!-- admin 상품 삭제 -->
	  	DELETE FROM DESSERT WHERE D_NO = #{d_no}
	  </delete>
	  
	<!-- admin End -->
	
	
	<select id="getSearchCnt" resultType="int" parameterType="map">
		 SELECT COUNT(D_NO) FROM DESSERT
		 WHERE
         D_NAME LIKE '%'||#{keyword}||'%'
		 
	</select>
	  
	<select id="getSearchList" parameterType="ddto">
		 SELECT D_NO
			    ,D_CATEGORY
			    ,D_NAME
			    ,D_DETAIL
			    ,D_PRICE
			    ,D_STOCK
			    ,D_IMAGE
			    ,D_PATH
			    ,D_LIFE
			    ,D_STORAGE
			    ,D_ALLERGY
	 FROM DESSERT
	 WHERE
      D_NAME LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="getDname" parameterType="int" resultType="String">
		SELECT d_name
		FROM dessert
		WHERE d_no = #{d_no}
	</select>
	
</mapper>