<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.shop.dessertFairy.dessert.dao.DessertDAO">

<select id="getDessertList" resultType="ddto">
	SELECT 
		d_no
		,d_category
		,d_name
		,d_detail
		,d_price
		,d_stock
		,d_image
		,d_path
		,d_life
		,d_storage
		,d_allergy
	FROM dessert
</select>

<select id="getDessertCnt" resultType="int">
	SELECT COUNT(d_no)
	FROM dessert
</select>



</mapper>