<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.shop.dessertFairy.pay.dao.PayDAO">
	<insert id="insertPay" parameterType="paydto">
	INSERT INTO pay (
		p_transactionid
		,p_ordernumber
		,p_authdatetime
		,p_amount
		,p_authnumber
		,p_cardname
		,p_cardno
		,p_quota
		,p_type
	)
	VALUES(
		#{p_transactionid}
		,#{p_ordernumber  }
		,#{p_authdatetime }
		,#{p_amount       }
		,#{p_authnumber   }
		,#{p_cardname     }
		,#{p_cardno       }
		,#{p_quota        }
		,#{p_type        }
	)
	
	</insert>
	
	<select id="getTransactionId" parameterType="paydto">
		SELECT p_transactionid
		FROM pay
		WHERE p_ordernumber = #{o_no}
	</select>

	<select id="getType" parameterType="paydto">
		SELECT p_type
		FROM pay
		WHERE p_ordernumber = #{o_no}
	</select>
	
	<delete id="deletePay" parameterType="odto">
		DELETE FROM pay
		WHERE p_ordernumber = #{o_no}
	</delete>
</mapper>