@charset "UTF-8";

#cakecontent{
	margin: 0 auto;
	width: 1024px;
	height: 600px;
}

.contable{
	margin: 0 auto;
	margin-top: 20px;
}

.noti{
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	background-color: #fef5d4;
	border : solid 1px #ECE4D3;
}

.exp{
	font-size: 18px;
}