@charset "UTF-8";

#cake{
	margin: 0 auto;
	width: 1024px;
	height: 600px;
}

/* calendar */
#cake #cal {
    background-color : white;
    height: auto;
    width: 380px;
    margin-top : 35px;
    margin-left : 80px;
    float : left;
    padding: 25px;
    padding-left: 35px;
    border-radius:5px;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
}

#cake #cal .day td {
    width: 50px;
    height: 50px;
}

#cake #cal .Calendar {
    text-align: center;
}

#cake #cal .Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

#cake #cal .Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;     
}

#cake #cal .Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}        

#cake #cal .pastDay {
    color: lightgray;
}

#cake #cal .today {
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#cake #cal .futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

#cake #cal .futureDay:hover{
    background:#eee;
}

#cake #cal .futureDay.choiceDay,.today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
/* calendar end */

/* cakedetail */
#cake #cakedetail{
	float: right;
	width: 390px;
	margin-right : 50px;
	border-bottom: solid 1px black;
}

#cake #pickdate{
	float: right;
	width: 390px;
	margin-right : 50px;
}

#cake .expdate{
	font-size: 16px;
	font-weight: bold;
}


#cake #cakedetail .cakename{
	font-size: 32px;
	font-weight : bold;
	color: #80471C;
}

#cake #cakedetail .namedetail{
	font-size : 13px;
	font-weight : bold;
	width : 390px;
	padding-bottom : 15px;
	border-bottom: solid 1px black;
	color: #a2a2a2;
}

#cake #cakedetail .detaillist{
	padding: 7px 7px 7px 0;
}

#cake .exp{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 3px;
}

#cake .detaillist .expdetail{
	font-size: 14px;
}

#cake .orderBtn{
	margin-top : 15px;
	width: 390px;
	height: 60px;
	float: left;
	font-size: 18px;
	border : solid 1px #ECE4D3;
	background-color: #F5ECDC;
}

#cake .month, .day{
	width: 30px;
	text-align: center;
}

#cake .option{
	display: block;
	padding: 10px 10px 10px 0;
}

#cake .letter{
	padding: 10px 10px 10px 0;
}

#cake .lettering{
	width: 210px;
}

#cake .fileBtn{
	display : inline-block;
	text-align : center;
	width : 70px;
	height : 20px;
	padding : 5px;
	font-size : 13px;
	background-color: #F5D042;
	border-radius: 4px;
}

#cake #file{
	display:none;
}

#cake .pointer {
	cursor:pointer;
 }
/* cakedetail end*/
 
/* cakecontent */
#cakecontent{
	margin: 0 auto;
	width: 1024px;
	height: 800px;
	text-align: center;
}

#cakecontent .noti{
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	background-color: #fef5d4;
	border : solid 1px #ECE4D3;
}

#cakecontent .notilist{
	margin-top: 80px;
}

#cakecontent .detaillist .exp, .detaillist .expdetail{
	padding: 0 0 20px 20px;
}

#cakecontent .exp{
	font-size: 18px;
	font-weight: bold;
}
/* cakecontent end*/





/* cakeImg */

#cakeImg{
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 200px;
	border-top: solid 2px black;
}

.orderCake{
	margin-top: 100px;
	margin-left: 150px;
	width: 700px;
	height: 700px;
}

.cakeDetail{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

