@charset "UTF-8";

#cake{
	margin: 0 auto;
	width: 1024px;
}

/* calendar */
#cake #cal {
    background-color : white;
    height: auto;
    width: 380px;
    margin-top : 100px;
    margin-left : 80px;
    float : left;
    padding: 25px;
    padding-left: 35px;
    border-radius:5px;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
}

#cake #cal .day td {
    width: 50px;
    height: 50px;
}

#cake #cal .Calendar {
    text-align: center;
}

#cake #cal .Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

#cake #cal .Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;     
}

#cake #cal .Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}        

#cake #cal .pastDay {
    color: lightgray;
}

#cake #cal .today {
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

#cake #cal .futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

#cake #cal .futureDay:hover{
    background:#eee;
}

#cake #cal .futureDay.choiceDay,.today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
/* calendar end */

/* cakedetail */
#cake #cakedetail{
	float: right;
	width: 390px;
	margin-right : 50px;
}

#cake #pickdate{
	float: right;
	width: 390px;
	margin-right : 50px;
}

#cake #pickTime{
	margin-top: 10px;
}

.timeOption{
	display: inline-block; 
	font-weight: bold;
	margin-right: 5px;
}

#cake .expdate{
	font-size: 16px;
	font-weight: bold;
}



#cake #cakedetail .cakename{
	font-size: 32px;
	font-weight : bold;
	color: #80471C;
}

#cake #cakedetail .namedetail{
	font-size : 13px;
	font-weight : bold;
	width : 390px;
	padding-bottom : 15px;
	border-bottom: solid 1px black;
	color: #a2a2a2;
}

#cake #cakedetail .detaillist{
	padding: 7px 7px 7px 0;
}

#cake .exp{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 3px;
}

#cake .detaillist .expdetail{
	font-size: 14px;
}

#cake .orderBtn{
	margin-top : 10px;
	width: 390px;
	height: 60px;
	float: left;
	font-size: 18px;
	border : solid 1px #ECE4D3;
	background-color: #F5ECDC;
}

#cake .month, .day{
	width: 30px;
	text-align: center;
}

#cake select{
	border-radius: 5px;
	padding: 3px 20px;
}

#cake .option{
	display: block;
	padding: 10px 0;
	border-radius: 7px;
}

#cake .letter{
	padding: 10px 10px 10px 0;
}

#cake .lettering{
	width: 220px;
	height: 27px;
	border-radius: 5px;
	border: solid 1px black;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}

#cake .detalBtn, .fileBtn{
	display : inline-block;
	text-align : center;
	width : 90px;
	height : 20px;
	padding : 5px;
	font-size : 13px;
	background-color: #F5D042;
	border-radius: 4px;
	cursor: pointer;
}

#cake #file, #detail{
	display:none;
}

#cake .pointer {
	cursor:pointer;
 }
 
.detail_name{
	width: 100px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow : hidden;
    display: inline-block;
    position: relative;
    top: 5px;
}
/* cakedetail end*/

#essentialBox{
	width: 1024px;
	float: left;
	margin: 200px 0;
}


.essential{
	text-align: center;
	font-size: 21px;
}
 
/* cakecontent */
#cakecontent{
	float: left;
	margin: 0 auto;
	width: 1024px;
	text-align: center;
}

#cakecontent .noti{
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	background-color: #fef5d4;
	border : solid 1px #ECE4D3;
}

#cakecontent .notilist{
	margin-top: 80px;
}

#cakecontent .detaillist .exp, .detaillist .expdetail{
	padding: 0 0 20px 20px;
}

#cakecontent .exp{
	font-size: 18px;
	font-weight: bold;
}

#cake #cakePrice{
	width: 390px;
	margin-right : 50px;
	border-top: solid 1px black;
}

#cake #cakePrice .price{
	font-weight: bold;
}

#cakeEssential{
	text-align: left;
	margin: 0 auto;
	margin: 100px 0 0 300px;
	width: 1024px;
}

.cakeQuest{
	margin-left: 160px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
}

#cakeEssential .heart1{
	background: url("../image/heart1.png")no-repeat;
	list-style-type: none;
	padding: 0px 0px 10px 35px;
}

#cakeEssential .heart2{
	background: url("../image/heart2.png")no-repeat;
	list-style-type: none;
	padding: 0px 0px 10px 35px;
}

#cakeEssential .heart3{
	background: url("../image/heart3.png")no-repeat;
	list-style-type: none;
	padding: 0px 0px 10px 35px;
}

#cakeEssential .heart4{
	background: url("../image/heart4.png")no-repeat;
	list-style-type: none;
	padding: 0px 0px 10px 35px;
}

#cakeEssential .heart5{
	background: url("../image/heart5.png")no-repeat;
	list-style-type: none;
	padding: 0px 0px 10px 35px;
}

#cakeEssential .heart6{
	background: url("../image/heart6.png")no-repeat;
	list-style-type: none;
	padding: 0px 0px 10px 35px;
}

#cakeEssential .heart7{
	background: url("../image/heart7.png")no-repeat;
	list-style-type: none;
	padding: 0px 0px 10px 35px;
}














/* cakecontent end*/




/* diameterImg */

#Diameter{
	float: left;
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 100px;
	margin-bottom: 100px;
	margin-top: 200px;
	border-bottom: solid 1px black;
}

.cakeSizeList{
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.diameterImg{
	width: 800px;
	height: 500px;
	margin-left: 100px;
	FILTER:Chroma(Color='#ffffff')
}

.cakeSize{
	text-align: center;
	font-size: 18px;
}

.cakeDetails{
	text-align: center;
	color: #c0c0c0;
	font-size: 14px;
}





/* cakeImg */

#cakeImg{
	width: 1024px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 200px;
}

.orderCake{
	margin-left: 150px;
	width: 700px;
	height: 700px;
}

.cakeDetail{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}


/* 네이버 지도 API */

#map_area {
	width: 1024px;
}

#map {
	width: 480px;
	height: 400px;
	float:left;
	margin-top: 50px;
}

#pickup {
	width: 500px;
	padding: 20px;
	float:left;
	text-align: center;
}

.iw_inner {
	padding: 10px;
	text-align: center;
}

.way{
	margin-left: 50px;
}

.way dl{
	margin: 20px 0;
}

.pickDt{
	font-size: 16px;
	font-weight: bold;
	margin: 3px 0;
}


/* CakeRequest.jsp start */
#cakeRequest {
	width: 500px;
	height: 300px;
}

#cakeRequest textarea {
	resize: none;
	width: 560px;
	height: 200px;
}

/* CakeRequest.jsp end */




