@charset "UTF-8";

#cal{
	float: left;
	width: 500px;
	height: 500px;
}

#calendar{
	width : 430px;
	height : 450px;
	text-align: center;
}

.caltd td{
	text-align: center;
}

.sun{
	color: red;
}

.sat{
	color: blue;
}