@charset "UTF-8";

#mypage{
	margin : 0 auto;
	width : 1024px;
	height: 800px;
}

.mypagelist{
	text-align: center;
}

.toplist{
	float: right;
	text-align: center;
}

.introduction{
	font-size: 32px;
	text-align: left;
}

.list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}

#cartlist{
   position: absolute;
   top: 125px;
   left: 270px;
   margin: 0 auto;
   width: 850px;
   height: 500px;	
}