@charset "UTF-8";

/* 공용 */

#contact{
	margin : 0 auto;
	width : 1024px;
}

#contactList{
	float: left;
}

.introduction{
	font-size: 32px;
	text-align: left;
	font-weight: bold;
}

.topList{
	float: right;
	text-align: right;
}

.list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}

.reList{
	font-weight: bold;
}






/* 문의 목록*/


#contactContent{
	margin-top: 130px;
	margin-left: 20px;
	float: left;
}

#contactContent .conTable{
	width: 1024px;
	border-top : solid 2px black;
	border-collapse: collapse;
	
}

#contactContent .conTable tr{
	border-bottom: solid 1px black;
	border-top: solid 1px black;
}

#contactContent .conTable tr{
	height: 45px;
}


.con1{
	width: 50px;
	text-align: center;
}

.con2{
	width: 50px;
	text-align: center;
}

.con3{
	width: 250px;
	text-align: center;
}

.con4{
	width: 100px;
	text-align: center;
}

.con5{
	width: 100px;
	text-align: center;
}

.con6{
	width: 100px;
	text-align: center;
}
