@charset "UTF-8";

/* 공용 */

#contact{
	margin : 0 auto;
	width : 1024px;
}

#contactList{
	float: left;
}

.introduction{
	font-size: 32px;
	text-align: left;
	font-weight: bold;
}

.topList{
	float: right;
	text-align: right;
}

.list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}

.reList{
	font-weight: bold;
}

.secretImg{
	padding-top: 5px;
}

.pageBtn{
	width: 1024px;
	margin-top : 20px;
	text-align: center;
}

.now{
	font-weight: bold;
}

.notList{
	text-align: center;
}

.notList th{
	padding-top: 20px;
}


/* 문의 목록*/


#contactContent{
	margin-top: 130px;
	margin-left: 20px;
	float: left;
}

#contactContent .conTable{
	width: 1024px;
	border-top : solid 2px black;
	border-collapse: collapse;
	
}

#contactContent .conTable tr{
	border-bottom: solid 1px black;
	border-top: solid 1px black;
}

#contactContent .conTable tr{
	height: 45px;
}

.con1{
	width: 60px;
}

.con2{
	width: 500px;
}

.con3{
	width: 150px;
}

.con4{
	width: 150px;
}


#contactBtn{
	width: 1024px;
	text-align: right;
	margin-bottom: 10px;
}





/* contact write */

#myform{
	float : left;
	margin-top: 170px;
}

#conWrite{
	float: left;
	width: 1024px;
	height: 200px;
	border-top : solid 2px black;
	border-bottom: solid 1px black;
}

#conWrite .spanName, #conWrite .spanWrite{
	display: inline-block;
	
} 

.in{
	height: 35px;
	border-radius: 5px;
	border: solid 1px #eeeeee;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}

.spanName{
	font-size: 15px;
	font-weight: bold;
	margin: 40px 20px 20px 130px;
	padding-right: 20px;
}

.spanWrite{
	font-size: 15px;
	font-weight: bold;
	margin: 40px 20px 20px 100px;
	padding-right: 20px;
}

.spanSecret{
	font-size: 15px;
	font-weight: bold;
	margin: 40px 20px 20px 120px;
	padding-right: 20px;
}

.chkbox{
	margin-left: 40px;
}

#conContent{
	float: left;
    width: 1024px;
	height: 500px;
	border-bottom: solid 1px black;
}

#conContent .spanContent{
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 40px 20px 20px 130px;
	padding-right: 20px;
}

#conContent textarea {
	width : 730px;
    height: 400px;
    resize: none;
    margin: 40px 20px 20px 0;
    border-radius: 5px;
	border: solid 1px #eeeeee;
	box-sizing: border-box;
	outline: none;
	padding: 10px;
	font-size: 16px;
}

#conPasswd{
	float: left;
    width: 1024px;
	height: 100px;
	border-bottom: solid 1px black;
}
  
.spanPasswd{
	font-size: 15px;
	font-weight: bold;
	margin: 20px 40px 20px 100px;
	display: inline-block;
}

.explanation{
	margin-left: 100px;
	color: #d1d1dc;
}

#conBtn{
	float: left;
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 500px;
}

#conBtn .regis{
	font-size: 18px;
	color : #064695;
	padding : 10px 30px 10px 30px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#conBtn .regis:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}





/* contact content */


#ContentContact{
	float: left;
	margin-top: 170px;
}

#contactMain{
	width: 1024px;
	height: 40px;
	line-height : 40px;
	border-top: solid 2px black;
	border-bottom: solid 1px black;
}

#contactMain .contentSubject, #contactMain .contentWrite, #contactMain .contentRegdate{
	display: inline-block;
}

.contentSubject, .contentWrite, .contentRegdate{
	font-size : 13px;
	height: 30px;
	background-color: #fefae9;
}

.contentSubject{
	margin-left: 20px;
	font-weight : bold;
	width: 680px;
}

.contentWrite{
	width : 120px;
	text-align: right;
	font-weight : bold;
}

.contentRegdate{
	margin-left : 10px;
	text-align: center;
}

.contentStar{
	margin-left : 10px;
	text-align: center;
	color: rgba(250, 208, 0, 0.99);
}




#contentMiddle{
	padding : 100px 0 20px 0;
	text-align: center;
}

#contentMiddle img{
	display: block;
}

#contentMiddle div{
	position: relative;
	display: inline-block;
	*display : inline;
	zoom: 1;
}

#contentBottom{
	height : 270px;
	margin-top : 100px;
	border-bottom: solid 1px black; 
}

.contentContent{
	margin-left: 200px;
	
}
  
.contentStar input{
	width : 90px;
	text-align : center;
	border: none;
	background-color: #fefae9;
	font-size : 18px;
	color: rgba(250, 208, 0, 0.99);
}   

#replybox{
	float : left;
	width: 1024px;
	border-bottom: solid 1px black;
}  

.adminReply{
	margin-top : 30px;
	text-align: center;
	font-weight: bold;
}

.replycontent{
	margin-top: 50px;
	margin-left: 270px;
}

.replys{
	width: 500px;
	height: 200px;
	font-size: 15px;
	background-color: #fefae9;
	border: none;
	box-sizing: border-box;
	outline: none;
	padding: 10px;
}

#myreviewBtn{
	float: left;
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 370px;
}

#myreviewBtn .modify{
	font-size: 18px;
	color : #064695;
	padding : 10px 30px 10px 30px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#myreviewBtn .modify:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}






/* my contact */

#myBtn{
	float : left;
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 420px;
}

#myBtn button{
	font-size: 16px;
	color : #064695;
	padding : 10px 30px 10px 30px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#myBtn button:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}

#contentPasswd{
	padding : 20px;
	border-bottom: solid 1px black; 
}


#contactPasswd{
    width: 1024px;
	height: 100px;
	border-bottom: solid 1px black;
}
  
.spanPasswd{
	font-size: 15px;
	font-weight: bold;
	margin: 20px 40px 20px 100px;
	display: inline-block;
}

.explanation{
	margin-left: 100px;
	color: #d1d1dc;
}

#myupform{
	margin-top: 170px;
	float : left;
}





