@charset "UTF-8";

#dessert{
	margin : 0 auto;
	width : 1024px;
	height: 800px;
}


.Mainlist{
	float: left;
}

.toplist{
	float: right;
	text-align: right;
}

.introduction{
	font-size: 32px;
	text-align: left;
}

.list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}

.productlist{
	padding-top: 150px;
}

.abox {
	display: inline-block;
	width: 256px;
	height: 300px;
}

.abox:hover {
	background-color: #fef5d4;
}


