@charset "UTF-8";

a:link{color: #13018d; text-decoration: none;}
a:visited{color: #13018d; text-decoration: none;}
a:active{color:#13018d; text-decoration: none;}
a:hover{color: #13018d; text-decoration: none;}


#dessert{
	margin : 0 auto;
	width : 1024px;
}

#dessert .Mainlist{
	float: left;
}

#dessert .introduction{
	font-size: 32px;
	text-align: left;
	font-weight: bold;
}
#dessert .toplist{
	float: right;
	text-align: right;
}

#dessert .list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}

#dessert #acategory, #ccategory, #bcategory, #pcategory {
	display: none;
}

#dessert .acategory, .ccategory, .bcategory, .pcategory {
	font-size: 15px;
	cursor: pointer;
}

.a_bold {
	font-weight: bold;
}





#dessert .productlist{
	padding-top: 150px;
}

#dessert .abox {
	display: inline-block;
	width: 256px;
	height: 300px;
}

#dessert .abox .box{
	text-align: center;
}

#dessert .abox .box img{
	margin-top:8px;
	width: 240px;
	height: 240px;
}

#dessert .abox .box .p_name{
	text-align: center;
	margin-left: 10px;
	font-weight: bold;
}

#dessert .abox .box .p_price{
	text-align: right;
	margin-right: 10px;
}

#dessert .abox:hover {
	background-color: #fef5d4;
}








/* dessert content */


#dessertContent {
	margin : 0 auto;
	width : 1024px;
	height: 600px;
}

#dessertContent #dessertImg {
	float: left;
	width: 512px;
	margin-top: 70px;
	margin-left: 20px;
}

#dessertContent #dessertTxt {
	float: left;
	width: 412px;
}

#dessertTxt{
	margin-left: 30px;
}


#dessertTxt .dessertTap .category{
	font-size: 16px;
	font-weight : bold;
	color: #80471C;
}

#dessertTxt .dessertTap .dessertname{
	font-size: 32px;
	font-weight : bold;
	color: #80471C;
}

#dessertTxt .dessertTap .namedetail{
	font-size : 13px;
	font-weight : bold;
	width : 390px;
	padding-bottom : 15px;
	color: #a2a2a2;
}

#dessertContent #dessertTxt .line {
	width: 400px;
	border-top: solid #042958 1px;
	margin: 5px 0 5px 0;
}

#dessertContent #dessertTxt dt {
	font-weight: bold;
	color: #042958;
}


#dessertContent #dessertTxt .btn_cart, .btn_order {
	margin-top : 15px;
	width: 200px;
	height: 60px;
	float: left;
	border : solid 1px #ECE4D3;
	background-color: #F5ECDC;
	font-size: 18px;
	cursor: pointer;
	
}

.dessertMain dt, .dessertMain dd{
	padding: 3px;
}



