@charset "UTF-8";

/* 공용 */

#search{
  margin:0 auto; 
  width: 1024px;
}
 
#a_div{
	margin-left: 400px;
} 
   
.ahover:hover{color: #064695; text-decoration: underline;}
    
       

#Box{
	margin: 0 auto;
	width: 600px;
}


.Tap{
	text-align: center;
	font-size: 28px;
	padding-bottom: 20px;
	border-bottom: solid 1px black;
	
}
    
    

#idTextBox{
	margin-left: 135px;
	margin-top: 50px;
}

.in{
	height: 50px;
	border-radius: 5px;
	border: solid 1px #eeeeee;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
	margin: 12px 0;
	font-size: 16px;
}

.idin{
	height: 50px;
	border-radius: 5px;
	border: solid 1px #eeeeee;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
	margin: 30px 0;
	font-size: 16px;
}

#idSearch{
	width: 1024px;
	height: 50px;
	margin-top : 50px;
}

#idSearch .searchBtn{
	font-size: 18px;
	color : #064695;
	padding : 15px 200px 15px 200px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
	margin-left: 55px;
}

#idSearch .searchBtn:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}










#pwTextBox{
	margin-left: 150px;
	margin-top: 20px;
	height: 280px;
}

#pwSearch{
	width: 1024px;
	height: 50px;
	margin-top : 60px;
}

#pwSearch .searchBtn{
	font-size: 18px;
	color : #064695;
	padding : 15px 190px 15px 190px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
	margin-left: 50px;
}

#pwSearch .searchBtn:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}

.pwFont{
	height: 20px;
} 
    