@charset "UTF-8";
/* 회원가입, 로그인 CSS*/

/*회원 가입 START*/
#joinBox{
	margin: 0 auto;
	width:1024px;
}

#joinBox #joinTable{
	margin : 0 auto;
	width : 900px;
	border-bottom: solid 1px #064695;
}

.regisBox{
	padding: 15px 0;
}

.regisBox input{
	border-radius: 7px;
	border: solid 1px #eeeeee;
	height: 40px;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}

.hint{
	border-radius: 7px;
	border: solid 1px #eeeeee;
	height: 40px;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}

.possible{
	margin-left: 380px;
}


.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin: 0 100px 0 170px;
}

.col4, .col5, .col6, .col7, .col8{
	margin-bottom: 30px;
}

.clear{
	clear: both;
}

.regis{
	text-align: center;
	padding: 20px;
	margin-bottom: 50px;
	border-bottom: solid 1px #064695;
}

.regis .name{
	display: inline-block;
}

#joinBtn{
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 400px;
}

#joinBtn button{
	font-size: 16px;
	color : #064695;
	padding : 10px 30px 10px 30px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#joinBtn button:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}
/*회원 가입 END*/






/*로그인 STATR*/


#Login{
  margin:0 auto; 
  width: 1024px;
}
 
#a_div{
	margin-top: 20px;
	margin-left: 410px;
} 
   
.ahover:hover{color: #064695; text-decoration: underline;}
    
#loginBox{
	margin: 0 auto;
	width: 600px;
}


.Tap{
	text-align: center;
	font-size: 28px;
	padding-bottom: 20px;
	border-bottom: solid 1px black;
	
}
    

#loginTextBox{
	margin-left: 135px;
	margin-top: 50px;
}

.in{
	height: 50px;
	border-radius: 5px;
	border: solid 1px #eeeeee;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
	margin: 12px 0;
	font-size: 16px;
}

#LoginButton{
	width: 1024px;
	height: 50px;
	margin-top : 50px;
}

#LoginButton .loginBtn{
	font-size: 18px;
	color : #064695;
	padding : 15px 220px 15px 220px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
	margin-left: 65px;
}

#LoginButton .loginBtn:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}

/*로그인 END*/




/* admin memberList */

.mainlist{
	float: left;
}

.introduction{
	font-size: 32px;
	text-align: left;
	font-weight: bold;
}

.topList{
	float: right;
	text-align: right;
}

.list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}

#member{
	margin: 0 auto;
	width: 1024px;
}

#mList{
	float: left;
	width: 1024px;
	margin-top: 180px;
}

.memberList{
	width: 1024px;
	border-collapse: collapse;
	border-top: solid 2px black;
}

.memberList tr{
	width: 1024px;
	height: 40px;
	border-bottom: solid 1px black;
	
}


.mol1{
	text-align: center;
	width: 200PX; 
}

.mol1:hover{
	color:  rgb(0, 128, 0);
    text-decoration: none; font-weight: bold;
}

.mol2{
	text-align: center;
	width: 220PX; 
}

.mol3{
	text-align: center;
	width: 150PX; 
}

.mol4{
	text-align: center;
	width: 100PX; 
}



/* admin member detail */

#memSubject{
	float: left;
}

.memName{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
}


.memberDetail{
	width: 1024px;
	margin-top: 100px;
	border-collapse: collapse;
	border-top : solid 2px black;
}

.memberDetail tr{
	border-bottom: solid 1px black;
	border-top: solid 1px black;
	height: 45px;
}

.mod1{
	width: 150px;
	text-align: center;
}

.mod2{
	width: 150px;
	text-align: center;
}

.mod3{
	width: 100px;
	text-align: center;
}

.mod4{
	width: 80px;
	text-align: center;
}

.mod5{
	width: 150px;
	text-align: center;
	white-space: pre-line;
}

.mod6{
	width: 100px;
	text-align: center;
}

.mod7{
	width: 80px;
	text-align: center;
}

.mod8{
	width: 80px;
	text-align: center;
}

#memberBtn{
	width: 1024px;
	margin-top : 80px;
	margin-left: 370px;
}

#memberBtn .memBtn{
	color : #064695;
	padding : 5px 15px 5px 15px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#memberBtn .memBtn:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}

#memberListBtn{
	width: 1024px;
	margin-top : 80px;
	margin-left: 470px;
}

#memberListBtn .memListBtn{
	color : #064695;
	padding : 5px 15px 5px 15px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#memberListBtn .memListBtn:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}




/* member order List */

#orderList{
	float: left;
	width: 1024px;
	margin-top: 150px;
}

.orderTable{
	width: 1024px;
	border-top : solid 2px black;
	border-collapse: collapse;
}

.orderTable tr{
	width: 1024px;
	border-top: solid 1px black;
	height: 45px;
	border-bottom: solid 1px black;
}

.pageBtn{
	width: 1024px;
	margin-top : 20px;
	text-align: center;
}

.mml1{
	width: 70px;
	text-align: center;
}

.mml2{
	width: 70px;
	text-align: center;
}

.mml3{
	width: 300px;
	text-align: center;
}

.mml3:hover{
	color:  rgb(0, 128, 0);
    text-decoration: none; font-weight: bold;
}

.mml4{
	width: 100px;
	text-align: center;
}

.mml5{
	width: 50px;
	text-align: center;
}

.mml6{
	width: 100px;
	text-align: center;
}

.mml7{
	width: 100px;
	text-align: center;
}

.mml8{
	width: 100px;
	text-align: center;
}

#memlist{
	text-align: right;
}

#memlist .mmlist:hover{
	font-weight: bold;
}




/* member order detail */

#mdDetail{
	width: 1024px;
	margin-left: 200px;
	margin-top: 50px;
}



.md1{
	width : 100px;
	display: inline-block;
	text-align: right;
	margin: 0 80px;
}
	
.md2 .in{
	font-size: 14px;
	border-radius: 7px;
	border: solid 1px #eeeeee;
	height: 40px;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}

#state{
	width: 80px;
	padding: 10px 0;
	border-radius: 7px;
	margin-top: 8px;
}

#mdBtn{
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 400px;
}

#mdBtn .regis{
	font-size: 16px;
	color : #064695;
	padding : 7px 20px 7px 20px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#mdBtn .regis:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}











