@charset "UTF-8";

/* 공용 */

#mypage{
	margin : 0 auto;
	width : 1024px;
}

#mypageList{
	float: left;
}

.introduction{
	font-size: 32px;
	text-align: left;
	font-weight: bold;
}

.topList{
	float: right;
	text-align: right;
}

.list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}

.reList{
	font-weight: bold;
}

/* 내 정보 */

#myInfo{
	float : left;
	margin: 0 auto;
	width: 1024px;
	margin-top: 130px;
	padding-bottom : 50px;
	border-bottom: solid 1px black;
}

#infoMain{
	width : 850px;
	margin: 0 auto;
	margin-left: 150px;
}

.info{
	text-align: center;
	padding-bottom : 50px;
	margin-bottom: 80px;
	border-bottom: solid 2px black;
}

.col{
	padding: 15px;
}

.col1{
	width : 100px;
	display: inline-block;
	text-align: right;
	margin: 0 100px;
}
	
.col2 .in{
	border-radius: 7px;
	border: solid 1px #eeeeee;
	height: 40px;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}

#tabBtn{
	float: left;
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 400px;
}

#tabBtn .button{
	font-size: 16px;
	color : #064695;
	padding : 10px 30px 10px 30px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#tabBtn .button:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}





/* 회원정보 수정 */


#myUpForm{
	float: left;
	margin: 0 auto;
	width: 1024px;
	margin-top: 130px;
}

#upBtn{
	float: left;
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 450px;
}

#upBtn .submit1{
	font-size: 16px;
	color : #064695;
	padding : 10px 30px 10px 30px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#upBtn .submit1:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}






