@charset "UTF-8";

#mypage{
	margin : 0 auto;
	width : 1024px;
	height: 800px;
}


.mypagelist{
	text-align: center;
}

.toplist{
	float: right;
	text-align: center;
}

.introduction{
	font-size: 32px;
	text-align: left;
}

.list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}
#notice{
	margin: 0 auto;
	width: 1024px;
	height: 60px;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
}
.co1{
	text-align: center;
	font-size: 30px;
}
.co2{
	margin: 0 auto;
	width: 970px;
	height: 40px;
	text-align: right;
}
.noticelist{
	margin: 0 auto;
	width: 1000px;
	border: 1px solid black;
	border-collapse: collapse;
}
.noticelist th,td{
	border: 1px solid black;
}
.coli1{
	width: 40px;
}
.coli2{
	width: 230px;
}
.coli3{
	width: 100px;
}
.coli4{
	width: 90px;
}
#nganerate{
	margin: 0 auto;
	width: 850px;
	height: 300px;
	line-height: 50px;
	
}






