@charset "UTF-8";

.popBox{
	display: block;
	position: fixed;
	top: 70px;
	left: 270px;
	z-index: 999;
}

#popClose {
	display: none;
}

.popClose {
	cursor: pointer;
}

.pop-image{
	width:450px; 
	height:600px;
	background-color: #fef5d4;
	display: block;
}

.xBtn{
	float: right;
	color: white;
	background-color: #042958;
	cursor: pointer;
}

.popNotice{
	background-color: #042958;
	color: white;
	font-size: 12px;
	padding: 5px;
}






