@charset "UTF-8";

/* 공용 */

#product{
	margin : 0 auto;
	width : 1024px;
}

.mainlist{
	float: left;
}

.productName{
	font-size: 32px;
	text-align: left;
	font-weight: bold;
}

.total{
	float: right;
	text-align: right;
}

.list li{
	display: inline-block;
	font-size: 15px;
	margin-left: 35px;
}

.notList{
	text-align: center;
}

.notList th{
	padding: 20px 0;
}



/* product list */

#productList{
	float: left;
	margin-top: 130px;
}

.productTable{
	width: 1024px;
	border-top : solid 2px black;
	border-collapse: collapse;
	
}

.productTable tr{
	border-bottom: solid 1px black;
	border-top: solid 1px black;
}

.productTable tr{
	height: 45px;
}


.dol1{
	width: 70px;
	text-align: center;
}

.dol2{
	width: 100px;
}

.dol3{
	width: 70px;
	text-align: center;
}

th.dol4{
	width: 300px;
	text-align: center;
}

.dol4{
	width: 300px;
	text-align: left;
}

.dol4:hover{
	color:  rgb(0, 128, 0);
    text-decoration: none; font-weight: bold;
}

.dol5{
	width: 80px;
	text-align: center;
}

.dol6{
	width: 70px;
	text-align: center;
}


.pageBtn{
	width: 1024px;
	margin-top : 20px;
	text-align: center;
}

#productBtn{
	margin-left: 920px;
	margin-bottom: 20px; 
}

#productBtn .regis{
	font-size: 13px;
	color : #fefae9;
	padding : 5px 20px 5px 20px;
	background-color : #064695;
	border : solid 1px #064695;
	text-align: center;
}





/* detail */

#detailImage{
	float: left;
	width: 350px;
	text-align: right;
	margin-top: 100px;
}

.deImg{
	width: 350px;
	height: 400px;
}

#detailMain{
	float: left;
	width: 670px;
}

.datailName{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.po{
	padding: 10px;
}

.pol{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin: 0 50px;
}

.in{
	height: 35px;
	border-radius: 5px;
	border: solid 1px #eeeeee;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}

#proBtn{
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 120px;
}

#proBtn .regis{
	font-size: 16px;
	color : #064695;
	padding : 6px 15px 6px 15px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#proBtn .regis:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}





/* 상품 등록 */

.upForm{
	margin-top: 150px;
	margin-left: 300px;
}

.upPro{
	margin: 20px;
}

.upProName{
	display: inline-block;
	text-align: right;
	width: 100px;
}

.upProSpan{
	margin-left: 50px;
}

.fileBtn{
	display : inline-block;
	text-align : center;
	width : 90px;
	height : 20px;
	padding : 5px;
	font-size : 13px;
	background-color: #F5D042;
	border-radius: 4px;
	cursor: pointer;
}

#file{
	display: none;
}

#proUpBtn{
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 180px;
}

#proUpBtn .productInsert{
	font-size: 16px;
	color : #064695;
	padding : 6px 15px 6px 15px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#proUpBtn .productInsert:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}





/* 상품 수정 */

.proUpForm{
	float: left;
	margin-top: 150px;
}

#productUpImage{
	float: left;
	width: 350px;
	text-align: right;
	margin-top: 60px;
}

.UpImg{
	width: 350px;
	height: 400px;
}

#detailUpMain{
	float: left;
	width: 670px;
}

.datailName{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.po{
	padding: 10px;
}

.pol{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin: 0 50px;
}

.in{
	height: 35px;
	border-radius: 5px;
	border: solid 1px #eeeeee;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}

#proUpBtn{
	width: 1024px;
	height: 100px;
	margin-top : 65px;
	margin-left: 120px;
}

#proUpBtn .productUpBtn{
	font-size: 16px;
	color : #064695;
	padding : 6px 15px 6px 15px;
	background-color : #fefae9;
	border : solid 1px #064695;
	text-align: center;
}

#proUpBtn .productUpBtn:hover{
    text-shadow: 0 0 0 #fefae9;
    background-color : #064695;
    color : #fefae9;
}

.fileUpBtn{
	display : inline-block;
	text-align : center;
	width : 90px;
	height : 20px;
	padding : 5px;
	font-size : 13px;
	background-color: #F5D042;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 120px;
	margin-top: 10px;
}



