@charset "UTF-8";

a:link{color: #13018d; text-decoration: none;}
a:visited{color: #13018d; text-decoration: none;}
a:active{color:#13018d; text-decoration: none;}
a:hover{color: #13018d; text-decoration: none;}

#header {
	width: 1024px;
	margin: 0 auto;
}

#logo{
	width: 25%;
	height: 70px;
	line-height: 70px;
	float: left;
	font-size: 28px;
	text-align: center;
	
}

#mainmenu{
	width: 50%;
	height: 70px;
	float: left;
	line-height: 70px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
} 


#mainmenu ul {
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}

#mainmenu li {
	width: 25%;
	font-size: 14px;
	font-weight: bold;
}


#mainmenu li, #topmenu li{
	display: inline-block;
}

#topmenu{
	width: 200px;
	height: 70px;
	float: left;
	line-height: 70px;
	text-align: center;
	margin-left: 50px;
}

#topmenu ul{
	display: inline-block;
}

#topmenu li {
	width: 50px;
	font-size: 12px;
}

.topSearchBtn img{
	top : 7px;
	width: 15px;
	height: 14px;
}

#blank{
	top : 70px;
	width: 100%;
	height: 250px;
}

#topSearch{
    margin: 0;;
}

#topSearch ul{
    margin: 0; padding: 0; list-style-type: none;
}

#topSearch ul li{
    padding: 8px; color: blue; border-bottom: 1px solid #cccccc;
}


#searchlogo{
	margin-left: 283px;
	height: 70px;
	line-height: 70px;
	font-size: 28px;
	 
}


#searchBox{
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: #fef5d4;
	display: none;
	z-index: 12000;
	overflow: auto;
	left: 0;
}

#searchCon{
	width: 1000px;
	margin: 0 auto;
	height: 100px;
}

.searchInput{
	font-size: 28px;
	margin-top: 100px;
	margin-left: 200px;
	height: 50px;
	border-width: 0 0 1px;
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
	background-color: #fef5d4;
}

.inputBtn{
	cursor: pointer;
	background-color: #fef5d4;
	border: none;
}

.inputBtn img{
	width: 30px;
	height: 30px;
}

.upBtn{
	margin-left: 1200px;
	cursor: pointer;
	background-color: #fef5d4;
	border: none;
}

.upBtn img{
	width: 20px;
	height: 20px;
}

.topSearchBtn{
	background-color: #fefae9;
	border: none;
	outline: none;
}

.keyword{
	margin-left: 210px;
	margin-top: 10px;
	font-size: 14px;
}
