<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.shop.dessertFairy.review.dao.ReviewDAO">

	<select id="getReviewCnt" resultType="int">
		SELECT COUNT(R_NO) FROM REVIEW
	</select>
	
    <select id="getReviewList" resultType="rdto">
		SELECT * FROM 
       (SELECT ROWNUM AS R_RR, A.* 
        FROM 
		(SELECT R_NO
			   ,R_SUBJECT
			   ,R_CONTENT
			   ,TO_CHAR(R_REGDATE,'YYYY-MM-DD') AS R_REGDATE
			   ,R_READCOUNT
			   ,R_PASSWD
			   ,R_STAR
			   ,R_IMAGE
			   ,M_ID
			   ,R_PATH
		FROM REVIEW
	    ORDER BY R_NO DESC) A)
        WHERE R_RR BETWEEN #{start,jdbcType=NUMERIC} and #{end,jdbcType=NUMERIC}
	 </select>
	
   <insert id="reviewWrite" parameterType="rdto">
   <selectKey keyProperty="r_no" order="BEFORE" resultType="int">
		SELECT NVL(MAX(R_NO),0)+1 FROM REVIEW
	</selectKey>
      INSERT INTO REVIEW(
         R_NO
         ,R_SUBJECT
         ,R_CONTENT
         ,R_REGDATE
         ,R_READCOUNT
         ,R_PASSWD
         ,R_STAR
         ,R_IMAGE
         ,R_PATH
         ,M_ID)
      VALUES(
          #{r_no       }
         ,#{r_subject  }
         ,#{r_content  }
         ,SYSDATE
         ,0
         ,#{r_passwd   }
         ,#{r_star     }
         ,#{r_image    }
         ,#{r_path    }
         ,#{m_id       }
      )
   </insert>
   
   <select id="getReviewcontent" parameterType="rdto" resultType="rdto">
		SELECT R_NO
			   ,R_SUBJECT
			   ,R_CONTENT
			   ,TO_CHAR(R_REGDATE,'YYYY-MM-DD') AS R_REGDATE
			   ,R_READCOUNT
			   ,R_PASSWD
			   ,R_STAR
			   ,R_IMAGE
			   ,R_REPLY
			   ,M_ID
			   ,R_PATH
		FROM REVIEW
		WHERE R_NO = #{r_no}
	</select>
   
   <select id="getMyList" resultType="rdto">
		SELECT * FROM 
       (SELECT ROWNUM AS R_RR, A.* 
        FROM 
		(SELECT R_NO
			   ,R_SUBJECT
			   ,R_CONTENT
			   ,TO_CHAR(R_REGDATE,'YYYY-MM-DD') AS R_REGDATE
			   ,R_READCOUNT
			   ,R_PASSWD
			   ,R_STAR
			   ,R_IMAGE
			   ,M_ID
			   ,R_PATH
		FROM REVIEW
	  ORDER BY R_NO DESC) A)
     WHERE M_ID = #{m_id}
	</select>
	
   <select id="getMycontent" parameterType="rdto" resultType="rdto">
		SELECT R_NO
			   ,R_SUBJECT
			   ,R_CONTENT
			   ,TO_CHAR(R_REGDATE,'YYYY-MM-DD') AS R_REGDATE
			   ,R_READCOUNT
			   ,R_PASSWD
			   ,R_STAR
			   ,R_IMAGE
			   ,R_REPLY
			   ,M_ID
			   ,R_PATH
		FROM REVIEW
		WHERE R_NO = #{r_no}
	</select>
	
   <select id="getReviewListOrderby" parameterType="map" resultType="rdto">
		SELECT R_NO
			   ,R_SUBJECT
			   ,R_CONTENT
			   ,TO_CHAR(R_REGDATE,'YYYY-MM-DD') AS R_REGDATE
			   ,R_READCOUNT
			   ,R_PASSWD
			   ,R_STAR
			   ,R_IMAGE
			   ,M_ID
			   ,R_PATH
		FROM REVIEW
		<if test='orderby.equals("old")'>
		  ORDER BY R_NO ASC
		</if>
		<if test='orderby.equals("star")'>
		  ORDER BY R_STAR DESC
		</if>
		<if test='orderby.equals("read")'>
		  ORDER BY R_READCOUNT DESC
		</if>
	</select>
	
	<update id="updateReadCnt" parameterType="rdto">
   UPDATE REVIEW SET R_READCOUNT = R_READCOUNT+1
   WHERE R_NO = #{r_no}
   </update>
   
   
   <update id="updateProc" parameterType="rdto">
   UPDATE REVIEW SET
   M_ID = #{m_id},
   R_SUBJECT = #{r_subject},
   R_CONTENT = #{r_content},
   R_IMAGE = #{r_image},
   R_STAR = #{r_star}
   WHERE R_NO = #{r_no}
   </update>
   
   <delete id="deleteProc" parameterType="rdto">
	  DELETE FROM REVIEW WHERE R_NO = #{r_no}
	</delete>
   
   
	
	<!-- 어드민 시작 -->
	
	<select id="getReplyList" resultType="rdto">
		SELECT * FROM 
       (SELECT ROWNUM AS R_RR, A.* 
        FROM 
		(SELECT R_NO
			   ,R_SUBJECT
			   ,R_CONTENT
			   ,TO_CHAR(R_REGDATE,'YYYY-MM-DD') AS R_REGDATE
			   ,R_READCOUNT
			   ,R_PASSWD
			   ,R_STAR
			   ,R_IMAGE
			   ,M_ID
			   ,R_PATH
		FROM REVIEW
	    ORDER BY R_NO DESC) A)
        WHERE R_RR BETWEEN #{start,jdbcType=NUMERIC} and #{end,jdbcType=NUMERIC}
	 </select>
	 
	 <select id="getReplyContent" parameterType="rdto" resultType="rdto">
		SELECT R_NO
			   ,R_SUBJECT
			   ,R_CONTENT
			   ,TO_CHAR(R_REGDATE,'YYYY-MM-DD') AS R_REGDATE
			   ,R_READCOUNT
			   ,R_PASSWD
			   ,R_STAR
			   ,R_IMAGE
			   ,R_REPLY
			   ,M_ID
			   ,R_PATH
		FROM REVIEW
		WHERE R_NO = #{r_no}
	</select>
	
	<insert id="getReplyWrite" parameterType="rdto">
		UPDATE REVIEW
		SET R_REPLY = #{r_reply}
		WHERE r_no = #{r_no}
    </insert>
    
    <update id="replyupProc" parameterType="rdto">
   UPDATE REVIEW SET
   M_ID = #{m_id},
   R_SUBJECT = #{r_subject},
   R_CONTENT = #{r_content},
   R_REPLY = #{r_reply},
   R_STAR = #{r_star}
   WHERE R_NO = #{r_no}
   </update>
   
   <update id="replydelProc" parameterType="rdto">
	  UPDATE REVIEW SET R_REPLY = NULL
	  WHERE R_NO = #{r_no}
	</update>

</mapper>