<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.shop.dessertFairy.review.dao.ReviewDAO">

   <insert id="reviewWrite" parameterType="rdto">
      INSERT INTO review(
         r_no
         ,r_subject
         ,r_content
         ,r_regdate
         ,r_readcount
         ,r_passwd
         ,r_star
         ,r_image
         ,r_path
         ,m_id)
      VALUES(
          #{r_no       }
         ,#{r_subject  }
         ,#{r_content  }
         ,SYSDATE
         ,0
         ,#{r_passwd   }
         ,#{r_star     }
         ,#{r_image    }
         ,#{r_path    }
         ,#{m_id       }
      )
   </insert>

</mapper>