<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.shop.dessertFairy.member.dao.MemberDAO">

	 <select id="idCheck" resultType="int">		<!-- 회원가입 시 아이디 중복체크 -->
	    select count(m_id) from member
	    where m_id = #{m_id}
	 </select>

	 <insert id="memberJoin" parameterType="mdto">		<!-- 회원가입 -->
	 	INSERT INTO MEMBER(	M_ID,
							M_NAME,
							M_PASSWD,
							M_EMAIL,
							M_PHONE,
							M_REGDATE,
							M_ZIPCODE,
							M_ADDRESS,
							M_ADDRESS2,
							M_ROLE,
							M_QUEST,
							M_ANSWER
							)
				 	VALUES(	#{m_id},
				 			#{m_name},
				 			#{m_passwd},
				 			#{m_email},
				 			#{m_phone},
				 			sysdate,
				 			#{m_zipcode},
				 			#{m_address},
				 			#{m_address2},
				 			'mem',
				 			#{m_quest},
							#{m_answer})
	 </insert>
	 
	 <select id="getMember" parameterType="mdto" resultType="mdto">		<!-- 로그인 -->
	     SELECT M_ID, M_NAME, M_ROLE, M_PASSWD
				, M_EMAIL, M_PHONE, M_ZIPCODE, M_ADDRESS
				, M_ADDRESS2, M_ROLE
	     FROM MEMBER
	     WHERE M_ID = #{m_id} and M_PASSWD = #{m_passwd}
  </select>
  <update id="memUpProc" parameterType="mdto">
UPDATE MEMBER SET
                  M_PASSWD =#{m_passwd}
                , M_EMAIL =#{m_email}
                , M_PHONE =#{m_phone}
                , M_ZIPCODE =#{m_zipcode}
                , M_ADDRESS =#{m_address}
                , M_ADDRESS2 =#{m_address2}
                
                WHERE M_ID =#{m_id}
</update>
<delete id="memDelete" parameterType="mdto">
DELETE FROM MEMBER
WHERE M_ID = #{m_id}
</delete>

	<select id="searchId" parameterType="mdto" resultType="string">		<!-- 회원 아이디 찾기 -->
		SELECT M_ID FROM MEMBER
		WHERE M_NAME = #{m_name} AND M_PHONE = #{m_phone}
	</select>
	
	<update id="updatePasswd" parameterType="mdto">		<!-- 회원 비밀번호 재설정 -->
		UPDATE MEMBER
		SET M_PASSWD = #{m_passwd}
		WHERE M_ID = #{m_id}
	</update>
	
	<select id="answerSearch" parameterType="mdto" resultType="String">
		SELECT m_answer
		FROM member
		WHERE m_id = #{m_id}
	</select>
	
	<select id="questSearch" parameterType="String" resultType="String">
		SELECT m_quest
		FROM member
		WHERE m_id = #{m_id}
	</select>
	
<!-- admin start -->
	<select id="memberTot">			<!-- 전체 회원 수 -->
		SELECT COUNT(m_id)-1 FROM MEMBER
	</select>
	
	<select id="getMembers" parameterType="mdto" resultType="mdto">	<!-- 전체 회원 리스트 -->
		<!-- SELECT  M_ID,
            M_NAME,
            M_REGDATE,
            M_ROLE
        FROM MEMBER
        WHERE M_ROLE = 'mem'
        AND ROWNUM BETWEEN #{start,jdbcType=NUMERIC} AND #{end,jdbcType=NUMERIC} -->
        SELECT * FROM 
       (SELECT ROWNUM AS T_RR, A.* 
        FROM 
		(SELECT M_ID,
            M_NAME,
            M_REGDATE,
            M_ROLE
		FROM MEMBER
	    ORDER BY M_ID DESC) A)
        WHERE T_RR BETWEEN #{start,jdbcType=NUMERIC} and #{end,jdbcType=NUMERIC}
	</select>
	
	<select id="getMemberDetail" parameterType="string" resultType="mdto">
		SELECT  M_ID,
				M_NAME,
				M_PASSWD,
				M_EMAIL,
				M_PHONE,
				M_REGDATE,
				M_ZIPCODE,
				M_ADDRESS,
				M_ADDRESS2,
				M_ROLE
		FROM MEMBER
		WHERE m_id = #{m_id}
	</select>
<!-- admin end -->
	
 </mapper>