<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- aliaes - short name setting bvo, pvo-->
    <typeAliases>
         <typeAlias alias="hashMap" type="java.util.HashMap" />
         <typeAlias alias="map" type="java.util.Map" />
         <typeAlias alias="mdto" type="com.shop.dessertFairy.member.dto.MemberDTO" />
         <typeAlias alias="rdto" type="com.shop.dessertFairy.review.dto.ReviewDTO" />
         <typeAlias alias="ddto" type="com.shop.dessertFairy.dessert.dto.DessertDTO" />
         <typeAlias alias="pdto" type="com.shop.dessertFairy.common.dto.PageDTO" />
         <typeAlias alias="odto" type="com.shop.dessertFairy.order.dto.OrderDTO" />
         <typeAlias alias="tdto" type="com.shop.dessertFairy.contact.dto.ContactDTO" />
         <typeAlias alias="ndto" type="com.shop.dessertFairy.notice.dto.NoticeDTO" />
     </typeAliases>	
</configuration>
